-e ./lib

aeidon
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alabaster
alembic
annotated-types
anthropic
anyio
appdirs
APScheduler
argon2-cffi
argon2-cffi-bindings
asgiref
astroid
async-timeout
attrs
Authlib
autoapi
Automat
av
babel
backoff
bcc
bcrypt
beautifulsoup4
bidict
black
blinker
boto3
botocore
Brlapi
Brotli
build
cachetools
caldav
cclib
ccsm
certifi
cffi
chardet
charset-normalizer
cheroot
chroma-hnswlib
chromadb
click
cloud-init
colbert-ai
colorama
colorclass
coloredlogs
command-not-found
compizconfig-python
configobj
constantly
contourpy
cryptography
cssselect
ctranslate2
cupshelpers
cycler
dataclasses-json
datasets
dbus-python
decorator
defer
defusedxml
Deprecated
diff-match-patch
dill
distro
distro-info
dnspython
docker
docker-compose
dockerpty
docopt
docutils
duckduckgo_search
duplicity
ecdsa
einops
email_validator
emoji
et_xmlfile
eval_type_backport
evdev
extract-msg
fail2ban
fastapi
fastapi-cli
fasteners
faster-whisper
fastjsonschema
filelock
Flask
Flask-Cors
fonttools
fpdf2
frozenlist
fs
fsspec
ftfy
fuse-python
gcp-storage-emulator
GDAL
git-python
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
gpg
greenlet
grpcio
grpcio-status
grpcio-tools
gyp
h11
h2
hpack
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
hyperlink
icalendar
idna
imagesize
importlib_metadata
importlib_resources
incremental
iniconfig
iniparse
iotop
itsdangerous
jaraco.functools
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jupyter_core
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-text-splitters
langdetect
langfuse
langsmith
language-selector
lark
launchpadlib
lazr.restfulclient
lazr.uri
ldap3
Levenshtein
linkify
louis
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdit-py-plugins
mdurl
milvus-lite
mistletoe
mmh3
monotonic
more-itertools
moto
mpmath
msoffcrypto-tool
multidict
multiprocess
mutagen
mypy-extensions
myst-parser
nbformat
nest-asyncio
netaddr
networkx
ninja
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
olefile
oletools
ollama_toolkit
onnxruntime
open-webui
openai
opencv-python
opencv-python-headless
openpyxl
opensearch-py
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
OWSLib
packaging
pandas
pandoc-plantuml-filter
pandocfilters
paramiko
pathspec
pcodedmp
peewee-migrate
periodictable
pexpect
pgvector
phply
pillow
platformdirs
plotly
pluggy
ply
portalocker
posthog
primp
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pyarrow
pyasn1
pyasn1_modules
pyasyncore
pybullet
pycairo
pycparser
pycryptodomex
pycups
pydantic
pydantic-settings
pydantic_core
pyenchant
pyfiglet
pygame
pygame-ce
pygame_gui
Pygments
PyGObject
PyHamcrest
pyinotify
PyJWT
pylibacl
pymdown-extensions
pymilvus
pymongo
PyMySQL
PyNaCl
pyOpenSSL
pypandoc
pyparsing
pypdf
pyproj
pyproject_hooks
PyQt5
PyQt5-sip
PyQtWebEngine
pyrsistent
pyserial
pytest
pytest-docker
python-apt
python-dateutil
python-debian
python-dotenv
python-engineio
python-i18n
python-iso639
python-jose
python-magic
python-multipart
python-oxmsg
python-pptx
python-socketio
python-xlib
pytube
pytz
pyudev
pyxattr
pyxdg
PyYAML
qdrant-client
QScintilla
QtPy
ranger-fm
rank-bm25
RapidFuzz
rapidocr-onnxruntime
recurring-ical-events
redis
regex
requests
requests-oauthlib
requests-toolbelt
responses
RestrictedPython
rich
rich-toolkit
roman
roman-numerals-py
rsa
RTFDE
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors
scikit-learn
scipy
scour
sentence-transformers
service-identity
setproctitle
setuptools
shapely
shellingham
simple-websocket
simplejson
six
smmap
sniffio
snowballstemmer
soundconverter
soundfile
soupsieve
Sphinx
sphinx-autoapi
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
ssh-import-id
starlette
svgwrite
sympy
systemd-python
tabulate
tenacity
termcolor
texttable
threadpoolctl
tiktoken
tokenizers
torch
tornado
tqdm
traitlets
transformers
translate-toolkit
triton
Twisted
typer
typing-inspect
typing_extensions
tzlocal
ubuntu-drivers-common
ubuntu-pro-client
ufoLib2
ufw
unattended-upgrades
unicode
unicodedata2
unstructured
unstructured-client
urllib3
usb-creator
uvicorn
variety
vboxapi
vobject
wadllib
watchfiles
webencodings
websocket-client
websockets
wheel
wsproto
x-wr-timezone
xdg
xkit
yarl
youtube-transcript-api
yt-dlp
zim
zope.interface
